<p><%= @loan.full_name %>,</p><br>
<br>

<p>Thank you for choosing to refinance your mortage with GoRefi.
Please see attached your pre-approval letter.</p><br>
<br>

<p>Thank you,</p><br>
<p>The GoRefi Team</p>